@charset "utf-8";

h2 {
	margin-top: 150px;
	text-align: center;
}

.cuerpo-formulario {
	width: 100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

form {
	width: 290px;
	/*830*/
	margin: auto;
	/* Centra el form */
	/*	background: rgba(0, 0, 0, 0.2);*/
	padding: 10px 20px;
	/* espacio interno, pero el form ya no mide 450px, si no 490px*/
	/* Para solucionar el problema del tamaño. aplicamos lo siguiente*/
	box-sizing: border-box;
	/* Los píxeles del padding se aplican al width */
	margin-top: 20px;
	border-radius: 7px;
	text-align: left;
	margin-bottom: 180px;
}

span {
	font-weight: bold;
	font-size: 15px;
}

input,
select {
	width: 100%;
	margin-bottom: 10px;
	padding: 6px;
	box-sizing: border-box;
	/* Evita que los elementos sobresalgan */
	font-size: 13px;

}

label {
	text-align: right;
	font-family: sans-serif;
	display: inline-block;
	margin-bottom: 10px;
	padding: 7px;
	box-sizing: border-box;
	/* Evita que los elementos sobresalgan */
	font-size: 13px;
	border: none;
}

hr {
	margin-bottom: 10px;
}

tr {
	/*	background-color: aqua;*/
	margin-bottom: 20px;
}

.btn {
	background-color: #333;
	border-radius: 5px;
	font-weight: bold;
	margin-left: 15px;
	color: #fff;
	padding: 11px;
	width: 100%;
	margin: 0px;
}

.btn:hover {
	color: #1883ba;
	background-color: #ffffff;
}
