@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Slab', serif;
}

/* Este contenedor deberia ir en una archivo general para el proyecto*/

.contenedor {
	width: 1000px;
	margin: auto;
}
